 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/img1.akspic.ru-retrowave-gta_vajs_siti-grand_krazhi_avtomaticheskij_trilogii-grand_theft_auto_v-mod_dlya_videoigr-1500x3000.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-1 .u-image-1 {
  width: 267px;
  height: 267px;
  box-shadow: 2px 0 12px 10px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 191px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  align-self: center;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 700;
  margin: 22px auto 0;
  padding: 10px 63px;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  width: 392px;
  margin: 98px auto 0;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  font-size: 1.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 400;
  margin: 81px auto 0 474px;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 40px;
  width: 40px;
  min-width: 68px;
  transition-duration: 0.5s;
  margin: 187px auto 0 938px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 40px;
  width: 40px;
  min-width: 68px;
  transition-duration: 0.5s;
  margin: -40px auto 0 1051px;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 40px;
  width: 40px;
  min-width: 68px;
  transition-duration: 0.5s;
  margin: -40px auto 0 162px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 40px;
  width: 40px;
  min-width: 68px;
  transition-duration: 0.5s;
  margin: -40px auto 0 49px;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 1.5625rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  font-family: "Aguafina Script";
  background-image: none;
  margin: -32px 381px 60px 364px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-1 {
    margin-top: 220px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -127px;
    margin-left: 274px;
  }

  .u-section-1 .u-social-icons-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    margin-left: 477px;
  }

  .u-section-1 .u-social-icons-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 531px;
  }

  .u-section-1 .u-social-icons-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 84px;
    margin-left: 423px;
  }

  .u-section-1 .u-social-icons-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 369px;
  }

  .u-section-1 .u-text-2 {
    width: 395px;
    margin: 20px 281px -162px 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 167px;
    margin-left: 264px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 195px;
    margin-left: 604px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 658px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -40px;
    margin-left: 76px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin: -40px auto 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 139px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 149px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 269px;
    margin-left: 174px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 149px;
    margin-left: 489px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 489px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 65px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -20px 73px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 89px;
    margin-left: 74px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 73px;
    margin-left: 189px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 266px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 112px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    margin: 78px 0 51px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-3,
.u-section-1 .u-social-icons-3:before,
.u-section-1 .u-social-icons-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-3.u-social-icons-3.u-social-icons-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-4,
.u-section-1 .u-social-icons-4:before,
.u-section-1 .u-social-icons-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-4.u-social-icons-4.u-social-icons-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-4.u-social-icons-4.u-social-icons-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2,
.u-section-1 .u-social-icons-2:before,
.u-section-1 .u-social-icons-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-social-icons-2.u-social-icons-2.u-social-icons-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  font-weight: 400 !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  font-weight: 400 !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}